@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sancreek&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
* {
    scrollbar-width: none;
}

body {
    height: fit-content;
    justify-content: center;
    align-items: center;
    background-color: #e6f6fc;
}

.app-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    top: 10%;
}

.display-word {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}

.hangman-heading {
    font-family: 'Sancreek', cursive;
}

.display-guess,
.guess-letters {
    font-size: 2rem;
}

.guess-letters {
    margin-top: 1rem;
}

.keyword-btn-grp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 35rem;
    max-width: 53.75rem;
    padding: 2rem;
}

.keyword-btn {
    outline: none;
    border-radius: 50%;
    padding: 1rem;
    font-size: 1rem;
    margin: 1rem;
    cursor: pointer;
    background-color: #4338ca;
    color: #fff;
    border: 2px solid #6366f1;
}

.word-definition-hidden {
    color: #25b4f9;
    border: 1px solid #25b0e4;
    border-radius: 10px;
    padding: 5px;
}

.word-definition-show {
    color: #000;
    letter-spacing: 1px;
    font-size: larger;
    text-align: center;
}

.word-definition {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.word-definition-hidden:hover {
    color: #25b4f9;
    border: 1px solid #25b0e4;
    border-radius: 10px;
    padding: 5px;
    background-color: #fff;
}

.used-btn {
    outline: none;
    border-radius: 50%;
    padding: 1rem;
    font-size: 1rem;
    margin: 1rem;
    cursor: pointer;
    background-color: #494949;
    color: #fff;
    border: 2px solid #898989;
    cursor: not-allowed;
}

.new-game-btn {
    background-color: #25b0e4;
    color: #fff;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 24%) 0px 4px 9px;
}
.game-btn {
    background-color: #25b0e4;
    color: #fff;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 24%) 0px 4px 9px;
}

.difficulty-btn-group {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.keyword-btn:hover {
    background-color: #6366f1;
}

.hide-element {
    display: none;
}


.new-game-btn:hover {
    background-color: #7ed0ef;
}

.game-btn:hover {
    background-color: #7ed0ef;
}

.signup-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    gap: 3rem;
}

